# Application
APP_URL=https://yourdomain.com
APP_NAME=SPMB SMKS Laboratorium Jakarta

# Admin Secret Link Key
# URL admin: https://yourdomain.com/admin.php?k=YOUR_KEY
ADMIN_KEY=ganti_dengan_kunci_rahasia

# Database
DB_HOST=localhost
DB_NAME=nama_database
DB_USER=user_database
DB_PASS=password_database

# Timezone
APP_TIMEZONE=Asia/Jakarta
